# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BAD_WINGS_DONGLE 

config ZMK_KEYBOARD_NAME
    default "Bad Wings"

config ZMK_USB
    default y

config ZMK_BLE
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_BAD_WINGS_DONGLE || SHIELD_BAD_WINGS_MAIN
config ZMK_SPLIT
    default y

endif
